<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des Roles</title>
  <th:block th:insert="~{Fragments :: link}"></th:block>

</head>

<body>
<div th:insert="~{Fragments :: nav-bar-fragment}"></div>
<div class="container">
  <div class="row">
    <div class="col-12">

      <h2 class="text-info">List Roles</h2>
      <a type="button" class="btn btn-outline-info" href="/addRole">Add
        Role</a>

      <!-- Check if errorMessage is not null and not empty -->

      <div class="alert alert-dismissible alert-danger mt-2"
           th:if="${errorMessage}" th:utext="${errorMessage}">

      </div>

      <table class="table table-hover mt-2" th:unless="${errorMessage}">
        <thead>
        <tr>

          <th scope="col">Details</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="role,state : ${listRoles}">
          <tr th:class="${state.odd} ? table-secondary : table-light ">

            <td>
              <div>
                <strong>Libellé:</strong> <span th:utext="${role.libelle}"></span>
              </div>

            </td>

            <td><a th:href="@{/userRole/{id}(id=${role.id})}" class="btn btn-primary">Afficher User</a>
              <a th:href="@{/deleteRole/{id}(id=${role.id})}" class="btn btn-danger">Delete</a></td>

          </tr>
        </th:block>

        </tbody>
      </table>

    </div>
  </div>
</div>
<!-- Import of script -->
<th:block th:insert="~{fragments :: body/script}"></th:block>


</body>
</html>