<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Voiture By Modele</title>
  <th:block th:insert="~{Fragments :: link}"></th:block>
</head>
<body>
<div th:insert="~{Fragments :: nav-bar-fragment}"></div>
<div class="container">
  <div class="row">
    <div class="col-12">

      <h2 class="text-info">Voiture list by Modele</h2>
      <a type="button" class="btn btn-outline-info" href="/listeModel">Back
        to list Modele</a>

      <!-- Check if errorMessage is not null and not empty -->

      <div class="alert alert-dismissible alert-danger mt-2"
           th:if="${errorMessage}" th:utext="${errorMessage}">

      </div>

      <table class="table table-hover mt-2" th:unless="${errorMessage}">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Details</th>
          <th scope="col">Actions</th>

        </tr>
        </thead>
        <tbody>
        <th:block th:each="voitures,state : ${listVoituresModele}">
          <tr th:class="${state.odd} ? table-secondary : table-light ">
            <th scope="row"><div class="img-container"
                                 th:if="${voitures.imagePath}">
              <img th:src="@{|img/${voitures.imagePath}|}" height="70" />
            </div> <!--/* If the product has no image, display default Image. */-->
              <div class="img-container" th:unless="${voitures.imagePath}">
                  <img th:src="@{img/no-image.jpg}" height="70" />
              </div></th>
            <td>
              <div>
                <strong>Immatriculation:</strong> <span th:utext="${voitures.immatriculation}"></span>
              </div>
              <div>
                <strong>Date Mise En Circulation:</strong> <span th:utext="${voitures.dateMiseEnCirculation}"></span>
              </div>
              <div>
                <strong>Modele:</strong> <span th:utext="${voitures.model.libelle}"></span>
              </div>
              <div>
                <strong>Prix Jour:</strong> <span
                      th:utext="${voitures.prixJour}+' DT'"></span>
              </div>
            </td>

            <td>
              <a th:href="@{/addLocation/{id}(id=${voitures.id})}" class="btn btn-primary">Reservé</a>
            </td>


          </tr>
        </th:block>

        </tbody>
      </table>

      <a type="button" class="btn btn-outline-info" href="/listeModel">Back
        to list Modele</a>

    </div>
  </div>
</div>
<!-- Import of script -->
<th:block th:insert="~{fragments :: body/script}"></th:block>

</body>
</html>