<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{Fragments :: link}"></th:block>
<body>

<!-- END nav -->



<section class="ftco-section">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-2 ">
        <div class="heading-section heading-section-black pl-md-5">
          <span class="subheading">Register User</span>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form action="/signup" method="post" class="bg-light p-5 contact-form" th:object="${user}">

          <input type="text" class="form-control" placeholder="Id" th:field="*{id}" hidden>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" th:field="*{nom}" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="USERNAME" th:field="*{username}" required>
            <small class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="EMAIL" th:field="*{adresse}" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="PASSWORD" th:field="*{password}" required>
          </div>
          <div class="form-group text-center">
            <input type="submit" value="Register" class="btn btn-primary py-3 px-5">
          </div>
        </form>

      </div>
    </div>
  </div>

</section>



<!-- loader -->



<th:block th:insert="~{fragments :: body/script}"></th:block>

</body>
</html>